{% extends 'base.html' %}

{% block title  %}
User Predict Menu
{% if message %}
{{ message }}
{% endif %}
{% endblock  %}

{% block lead  %}
Predict User
{% endblock  %}

{% block main_body  %}
To predict the user, enter the screen names of the two users to compare, and enter any tweetable text.
<form method="POST" action="./predict" style="display: inline">
  <input name="user_1" class="form-control" type="text" placeholder="User 1">
  <input name="user_2" class="form-control" type="text" placeholder="User 2">
  <input name="text" class="form-control" type="text" placeholder="Tweet">
  <input type="submit" class="btn btn-primary" value="Predict"/>
  <output name = "output">This user will likely to be the owner of this tweet: {{ pred[0] }}</output>
</form>
{% endblock  %}
