{% extends 'base.html' %}


{% block title  %}
Twitter Web Application
{% endblock  %}

{% block lead  %}
Post your favorite twitter user info
{% endblock  %}

{% block main_body  %}
Welcome to the Twitter web application
{% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Full Name</th>
      <th scope="col">Followers</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data %}
    <tr>
      <th scope="row">{{ entry.id }}</th>
      <td>{{ entry.user_id }}</td>
      <td>{{ entry.username }}</td>
      <td>{{ entry.full_name }}</td>
      <td>{{ entry.followers_count }}</td>
      <td>{{ entry.location }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock  %}